---
import '../styles/global.css'

export interface Props {
  title?: string
  description?: string
  image?: string
  url?: string
}

const {
  title = 'TimeCup League',
  description = 'La primera liga online y presencial de Cross Training en formato competitivo. Temporadas de 3 meses, categorías por nivel y equipos de 3 personas.',
  image = '/favicon.svg',
  url = 'https://timecupleague.com',
} = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site || url)
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:locale" content="es_ES" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- Additional Meta Tags -->
    <meta name="robots" content="index, follow" />
    <meta name="author" content="TimeCup League" />
    <meta name="theme-color" content="#4714DB" />
  </head>

  <body>
    <slot />
  </body>
</html>
